@font-face {
    font-family: 'SVThinHu';
    src: url('SVThinHu.woff2') format('woff2'),
        url('SVThinHu.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

