<!doctype html>
<link href="/static/stylesheet.css" rel="stylesheet">
<link rel="preload" href="/static/SVThinHu.woff2" as="font" type="font/woff2" crossorigin>
<script>
async function update() {
    let json = await (await fetch("/refresh")).json();
    if (json.size != 0) {
        for (const friend of json) {
          let x = Math.floor(friend.level);
          for(;x>=1;x--) {
              document.getElementById("r"+friend.rowid+"img"+(x-1)).src = "/static/heart-full.png";
          }
          if (friend.level % 1== 0.5) {
              document.getElementById("r"+friend.rowid+"img"+Math.floor(friend.level)).src = "/static/heart-half.png";
          }
          if (friend.gift >= 0 && friend.gift <= 2) { document.getElementById("r"+friend.rowid+"gift").src = "/static/gift-"+friend.gift+".png"; }
        }
    }
}
addEventListener("load", (event) => { update(); });
</script>
<style>
body {
    font-family: 'SVThinHu';
    font-weight: 100;
    font-style: normal;
    font-size: large;
    text-align: right;
    margin: 0;
    padding: 0;
}
img {
  vertical-align: middle;
}
span {
  vertical-align: middle;
}
p {
  margin: 0;
  padding: 0;
}
</style>
<title>Friendship - admin</title>
{% for friend in friendship %}
<p> <span>{{ friend.name }} ({{ friend.level }}) &nbsp;</span>
{% for x in range(8) %}
<img id="r{{friend.rowid}}img{{x}}" src="/static/heart.png"/>
{% endfor %}
{% for x in range(8,10) %}
<img id="r{{friend.rowid}}img{{x}}" src="/static/heart{{'-locked' if friend.locked else ''}}.png"/>

{% endfor %}
<span><a href="{{url_for('update', iid=friend.rowid, attr='level', value=friend.level-0.5)}}">➖</a><a href="{{url_for('update', iid=friend.rowid, attr='level', value=friend.level+0.5) if friend.level < 8 or not friend.locked else ''}}">➕</a></span>
<a href="{{url_for('update', iid=friend.rowid, attr='lock', value=0 if friend.locked else 1)}}">{{'🔓' if friend.locked else '🔒'}}</a>
<span>({{ friend.gift }}) &nbsp;</span>
<img id="r{{friend.rowid}}gift" src="/static/gift-0.png" />
<span><a href="{{url_for('update', iid=friend.rowid, attr='gift', value=friend.gift-1) if friend.gift > 0 else ''}}">➖</a><a href="{{url_for('update', iid=friend.rowid, attr='gift', value=friend.gift+1) if friend.gift < 2 else ''}}">➕</a></span>
<span><a href="{{url_for('delfriend', iid=friend.rowid)}}">❌</a></span>
{% endfor %}
</p>
<a href="{{url_for('newday')}}">New day</a>
<p>New friend
  <form action="/adminpanel" method="post">
  <div>
      <label for="name">Name</label>
      <input id="name" name="name" value=""/>
    </div>
    <div>
      <label for="level">Level</label>
      <input type="number" step="0.5" id="level" name="level" value="1"/>
    </div>
    <div>
      <label for="gift">Gift</label>
      <input type="number" step="1" id="gift" name="gift" value="0"/>
    </div>
    <div>
      <label for="locked">Locked</label>
      <input type="number" step="1" id="locked" name="locked" value="1"/>
    </div>
  <input type="submit" value="Add" />
</form>
</p>