<!doctype html>
<link rel="preload" href="static/SVThinHu.woff2" as="font" type="font/woff2" crossorigin>
<script>
function update() {
    let json = JSON.parse(await fetch("/refresh"))
    for (const friend of json) {
        for(const x;x<friend.level;x++) {
            if (x == 0) {continue; }
            document.getElementById("r"+friend.rowid+"img"+(x-1)).src = "/static/heart-full.png";
            if (x % 0.5 == 0.5) {
                document.getElementById("r"+friend.rowid+"img"+(x)).src = "/static/heart-half.png";
            }
        }
    }
}
addEventListener("load", (event) => { setInterval(update, 1000)});
</script>
<style>
body {
    font-family: 'SVThinHu';
    font-weight: 100;
    font-style: normal;
}
</style>
<title>Friendship - admin</title>
{% for friend in friendship %} ({{ friend.level }}) &nbsp;
<p> {{ friend.name }}
{% for x in range(8) %}
<img id="r{{friend.rowid}}img{{x}}" src="/static/heart.png"/>
{% endfor %}
{% for x in range(8,10) %}
<img id="r{{friend.rowid}}img{{x}}" src="/static/heart{{'-locked' if friend.locked else ''}}.png"/>
</p>
{% endfor %}
<a href="javascript:delrow({{idx}})">➖</a><a href="javascript:addrow()">➕</a>
<img id="r{{friend.rowid}}gift" src="/static/gift-0.png"/>
<a href="javascript:delrow({{idx}})">➖</a><a href="javascript:addrow()">➕</a>
{% endfor %}
<p>New friend
  <form action="/adminpanel" method="post">
  <div>
      <label for="name">Name</label>
      <input id="name" name="name" value=""/>
    </div>
    <div>
      <label for="level">Level</label>
      <input type="number" step="0.5" id="level" name="level" value="1"/>
    </div>
    <div>
      <label for="gift">Gift</label>
      <input type="number" step="1" id="gift" name="gift" value="0"/>
    </div>
    <div>
      <label for="locked">Locked</label>
      <input type="number" step="1" id="locked" name="locked" value="1"/>
    </div>
  <input type="submit" value="Add" />
</form>
</p>